<h3>City of Bristol Rowing Club</h3>
<h4>Women's Squad Coach</h4>
<p>Pretty much all of my spare time is devoted towards the 30+ athletes under my charge, organising and setting the
    training
    plan, coaching water sessions, it's a 7 day a week job! The goal is to take the club to our first ever finals at
    Henley
    Women's Regatta, and from there, hopefully become the best club in the country for women's club rowing.</p>

<h4>Club Captain</h4>
<p>I'm also a trustee on of our club, trying to make sure the club works for all 300 of it's members, whilst making the
    tougher decisions over priorities, and general club strategy.</p>

<h4>Web Developer</h4>
<p>Redeveloping our clubs website is an ongoing process i've been looking at on the side for years now. The members
    system is a feature rich application, allowing management of; members, accounts & transactions, training (yearly
    training plans, daily training logs, training targets and weekly workout plans), organisation of boats,
    outings and events.</p>

<h3>Cycling</h3>
<p>Zwift, Sufferfest, Commuting, 300k rides! If i'm not at my desk, I'm probably on my bike!</p>
