<h4>City of Bristol Rowing Club - Women's Squad Coach</h4>
<p>2 hours a day, 7 days a week, writing training plans, coaching, agony aunt'ing, trying to support 30 athletes to their best.</p>

<h4>City of Bristol Rowing Club - Club Captain</h4>
<p>One of 7 trustees, managing the day to day and the strategic future of our club of 300 members.</p>

<h4>City of Bristol Rowing Club - Web Developer</h4>
<p>Redeveloping our clubs website is an ongoing process. The members
    system is a feature rich application, allowing management of; members, accounts & transactions, training (yearly
    training plans, daily training logs, training targets and weekly workout plans), organisation of boats,
    outings and events.</p>

<h4>Cycling</h4>
<p>Zwift, Sufferfest, Commuting, 300k rides! If i'm not at my desk, I'm probably on my bike!</p>
