@import '../../assets/colors';

:host {
  flex: 1 1 auto;
  overflow: auto;
  text-align: left;
  display: block;
  padding-left: 0.5rem;
  background-color: fade_out(map-get($colors, 'about me'), 0.9);
  border-left: solid 5px map-get($colors, 'about me');
}

@media print {
  :host {
    p {
      margin-bottom: 0.5rem;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}
