<!--<p>I am an experienced and innovative developer, with expertise in enterprise level web applications, design and development.</p>-->

<p>I have strong technical skills in HTML5, JavaScript, Typescript, in particular with Angular7 and Angular1.x having originally cut my teeth in the .NET stack with C#, VB.net, MVC and WebForms.</p>

<p>I am driven, and really enjoy trying to create the best possible user experience, with functionality and form. For me being involved from the requirements gathering stage, through to conceptualisation and prototyping, to actual development is what makes the job really rewarding.</p>

<p>I am looking to enhance my skills and career in a supportive but challenging environment, where there's a real focus on solving problems for the user.</p>
