@import '../../assets/styles/variables';

.ResumeNavigation {
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-flow: column;

  .ResumeNavigation_Button {
    margin: ($gutter/2) 0;
  }

  .mediaIsSmall & {
    align-items: flex-start;
    justify-content: center;
  }

  .mediaIsMedium & {
    min-height: auto;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
