<ul>
    <li>
        <h4>2018</h4>
        <div>
            <h3>Web Architect - Alterian</h3>
            <p>UX Design and development of our business applications, in Angular (7), introducing Jasmine testing and
                automated testing, across two scrum teams.</p>
            <p>Working as a mentor & team lead to a novice developer, helping to code in Typescript and RxJS, whilst
                also maintaining and some development in our existing AngularJS products.</p>
        </div>
    </li>
    <li>
        <h4>2015</h4>
        <div>
            <h3>Senior Web Developer - Alterian/SDL</h3>
            <p>UI Developer alongside 2-3 other developers on the same scrum team, with 20-40 company wide.</p>
            <p>Working in AngularJS, championing better building tools, from completely custom, to Gulp task, to Webpack
                builds to streamline both developer and production builds.</p>
        </div>
    </li>
    <li>
        <h4>2012</h4>
        <div>
            <h3>Senior Web Developer - Computershare</h3>
            <p>Redesigned the UI/UX for our main product, introducing responsive web principles for the
                first time.</p>
            <p>UX Guru on several lines of web applications, starting redesigns/reskins to enhance usability, on both
                mobile and desktop devices.</p>
            <p>Started the adoption of KnockoutJS and then AngularJS into our purely WebForms based projects at
                the time, mentoring others to adopt these technologies as we pushed forward.</p>
        </div>
    </li>
    <li>
        <h4>2010</h4>
        <div>
            <h3>Junior Developer - Computershare</h3>
            <p>As a Junior developer I got a wide range of experience across multiple full stacks, in varying several
                products, using C#, VB.NET, VB6, MSSQL, MVC and WebAPI’s.</p>
            <p>Primarily involved in production/critical hotfixes, I would have to jump into new areas of product,
                language and code and provide time-sensitive fixes.</p>
        </div>
    </li>
    <li>
        <h4>2008</h4>
        <div>
            <h3>System Tester - Computershare</h3>
            <p>Experience at the testing side of product development, i helped promote the testing team becoming engaged much earlier in the design process, whilst also helping product owners with Axure mockups and UX design.</p>
        </div>
    </li>
</ul>
