<ul>
    <li>
        <h4>2015</h4>
        <div>
            <h3>Alterian - Web Developer -> Architect</h3>
            <p>Responsible for the direction of our web, technologies and user functionality design. Pushing TDD and
                coding standards into our apps.</p>
        </div>
    </li>
    <li>
        <h4>2010</h4>
        <div>
            <h3>Computershare - Junior -> Senior Web Developer</h3>
            <p>Starting with development in WebForms, I pushed the transition to MVVC models of development, which lead
                into the first SPA's at the company.</p>
            <p>During my time there I championed mobile-first design, including a complete re-design of our most
                important web application, delivering many UX improvements.</p>
        </div>
    </li>
    <li>
        <h4>2008</h4>
        <div>
            <h3>Computershare - System Tester</h3>
            <p>I joined as a system tester to gain knowledge in the development process, I quickly started to push Automation within
                the team, and significantly cut down our regression costs. It was in this role i first started to gain a real
                interest for UX, as i begun to help the product owners with the requirement gathering and design of screens.</p>
        </div>
    </li>
</ul>


<!--<h3>Alterian-->
    <!--<small>(2015-Present)</small>-->
<!--</h3>-->

<!--<h4>Web Architect (2 years)</h4>-->
<!--<p>As the web architect I've pushed our development stack forward using <strong>Angular</strong>, utilising libraries-->
    <!--like <strong>Material</strong>, <strong>AG Grid</strong>, to significantly cut down development cost and increase-->
    <!--quality, as well as turning development around to using TDD principles.</p>-->

<!--<h4>Senior Web Developer (2 years)</h4>-->
<!--<p>Working on one of 3 scrum teams across 2 regions, I've worked extensively on large enterprise systems, primarily in-->
    <!--<strong>Angular1.x</strong>, with a strong focus on UX and performance. In this time I lead us to using prototypes,-->
    <!--and A/B testing to quickly investigate different methods of UX.</p>-->


<!--<h3>Computershare-->
    <!--<small>(2008-2015)</small>-->
<!--</h3>-->

<!--<h4>Senior Web Developer (2 years)</h4>-->
<!--<p>During my time in this role, i redeveloped our enterprise systems to a mobile first approach, delivering massive UX-->
    <!--improvements, and saving allot of development on different solutions at the time. I begun the process of-->
    <!--incrementally adapting our website from ASP.NET WebForms, into the companies with SPA in <strong>Knockout</strong>-->
    <!--and then-->
    <!--<strong>Angular1.x</strong>. I also took on design & consulting roles across our other web systems to improve UX-->
    <!--throughout the company.</p>-->

<!--<h4>Junior Web Developer (3 years)</h4>-->
<!--<p>As a junior web developer i worked across many technologies and enterprise systems, gaining knowledge in WebForms, it-->
    <!--was from here that i started to push a MVVM design for our old systems, and started to develop my interest in-->
    <!--Javascript technologies in many smaller special-->
    <!--projects.</p>-->

<!--<h4>System Tester (3 years)</h4>-->
<!--<p></p>-->

