@import "../../assets/styles/variables";

.ResumeHeader {
  display: flex;
  flex-flow: column;
  width: 100%;
  max-width: $screenMaxWidth;

  .mediaIsPrint & {
    max-width: none;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
}

.ResumeHeader_title {
  display: flex;
  flex-flow: column;

  .mediaIsPrint & {
    h2 {
      height: auto;
      line-height: 1;
    }
  }
}

.ResumeHeader_contact {
  display: flex;
  line-height: 1.5;
  align-items: flex-end;
  font-size: 75%;
  flex-flow: row;
  flex-wrap: wrap;

  ::after {
    content: "";
    margin-right: $gutter;
  }

  .mediaIsPrint & {
    flex-flow: column;
    font-size: 100%;

    ::after {
      margin-right: 0;
    }
  }
}
