@import '../../assets/styles/variables';

.ResumeHome {
  display: flex;
  flex-flow: column;
  overflow: hidden;
  align-items: center;

  .ResumeHome_Page {
    flex: 1 1 auto;
    display: flex;
    overflow: hidden;
    align-self: stretch;
  }

  .ResumeHome_Navigation {
    flex: 1 1 auto;
    overflow: auto;

    .mediaIsMedium & {
      flex: 0 0 auto;
    }
  }

  .ResumeHome_Content {
    flex: 1 1 auto;
    overflow: auto;
    overflow-x: hidden;

    $subtleBackgroundChange: rgb(254,254,254);

    .mediaIsLarge & {
      > div:nth-child(odd) {
        position: relative;
        background-color: $subtleBackgroundChange;
        overflow: visible;

        &:after {
          content: "";
          width: 100vw;
          position: absolute;
          left: 100%;
          top: 0;
          height: 100%;
          background-color: $subtleBackgroundChange;
        }
      }
    }
  }
}
