<ul>
    <li>ES6 & Typescript</li>
    <li>LESS & SCSS</li>
    <li>HTML5</li>
    <li>Angular(2-7) & Angular 1.x</li>
</ul>
<p>These are the technologies and frameworks I've been using on a day-to-day basis for the last 3 years.</p>
<ul>
    <li>Ionic</li>
    <li>PHP</li>
    <li>MySQL</li>
    <li>Inkscape (/SVG)</li>
    <li>ASP.NET; c#, VB.NET, WebForms, MVC, SQL</li>
</ul>
<p>There are the technologies, frameworks and tools I've been working on regularly in hobby projects, or have had enterprise experience with in recent past.</p>

