<p>These are the technologies and frameworks I've been using on a day-to-day basis;</p>
<ul>
    <li>ES6 & Typescript</li>
    <li>LESS & SCSS</li>
    <li>HTML5</li>
    <li>Angular(2-7) & Angular 1.x</li>
    <li>Ionic</li>
    <li>MySQL</li>
    <li>Jasmine</li>
</ul>
<p>These are the technologies, frameworks i've had experience with in recent past;</p>
<ul>
    <li>Knockout</li>
    <li>PHP</li>
    <li>Inkscape (/SVG)</li>
    <li>ASP.NET</li>
    <li>C#</li>
    <li>VB.NET</li>
    <li>Visual Basic</li>
    <li>MS SQL</li>
</ul>


