@import '/src/assets/styles/variables';

.App {
    height: 100%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-flow: column;
    page-break-after: avoid;

    .App_header {
        flex: 0 0 auto;
    }

    .App_main {
        flex: 1 1 auto;
        overflow: hidden;
        position: relative;
        width: 100%;

        > * {
            width: 100%;
            height: 100%;
        }
    }

    .App_footer {
        flex: 0 0 auto;
    }

    @media (min-width: $screenMaxWidth) {
        align-items: center;
    }
}
