@import '~@angular/material/theming';
@import "../assets/variables";

@page {
  size: A4 portrait;
  margin: 4cm;
}

:host {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding: 0.5rem;
  background: white;

  header {
    flex: 0 0 auto;
    margin-bottom: 0.5rem;

    .title {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;

      h1 {
        margin-right: 0.5rem;

        .short {

        }
      }

      h2 {
        text-transform: capitalize;
      }
    }
  }

  .page {
    flex: 1 1 auto;
    display: flex;
    overflow: auto;

    &[page='true'] {
      border-left-style: solid;
      border-left-width: 5px;
      padding-left: 0.5rem;
    }

    router-outlet {
      display: none;
    }
  }

  h2 {
    padding: 0.5rem;
  }

  .grid {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    app-about-me {
      flex: 0 0 100%;
    }

    .lhs {
      margin-top: 0.5rem;
      flex: 0 0 60%;
      padding-right: 0.25rem;
    }

    .rhs {
      margin-top: 0.5rem;
      flex: 0 0 40%;
      padding-left: 0.25rem;
    }
  }
}

@mixin printHeaderStyles() {
  display: flex;

  border-bottom: dotted 1px rgba(0,0,0,0.1);

  .title {
    flex: 0 0 60%;
  }

  .email {
    flex: 0 0 40%;
    justify-content: flex-end;
  }
}

@media screen and (min-width: $a5Width) {
  :host {
    @include mat-elevation(8);
    width: $a5Width;
    padding: 1rem;

    header {
      @include printHeaderStyles();
    }
  }
}

@media screen and (min-width: $a4Width) {
  :host {
    padding: 4rem;
    width: $a4Width;
    height: $a4Height;
  }
}

@media print {
    :host {
      padding: 0;

      header {
        @include printHeaderStyles();
      }
    }
}

