@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/colors";
@import "./assets/variables";

@include create-default-colors();

html {
  height: 100%;
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Fredericka the Great', cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h3, h4 {
  font-weight: 700;
  line-height: 1.5;
}

.strike {
  text-decoration: line-through;
}

a {
  &.email {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    mat-icon {
      margin-right: 0.5rem;
    }

    span {
      text-decoration: underline;
    }
  }
}

@media screen and (min-width: $a5Width) {
  body {
    padding: 1rem;
    align-items: center;
    background-image: linear-gradient(to bottom right, #2ecc71, #27ae60);
  }
}

@media screen and (min-width: $a4Width) {
  html {
    font-size: 12px;
  }
}

@media print {
  h2, h3 {
    font-family: 'Roboto Slab', serif;
  }
}
