<p>Web Developer by day, Rowing Coach by
    <span class="strike">evening</span>/<span class="strike">night</span>/<span class="strike">morning</span>/every
    spare minute.</p>
<nav>
    <h2><a background-color="about me" [routerLink]="['/about']">About Me</a></h2>
    <h2><a background-color="experience" [routerLink]="['/experience']">Experience</a></h2>
    <h2><a background-color="education" [routerLink]="['/education']">Education</a></h2>
    <h2><a background-color="skills" [routerLink]="['/skills']">Skills</a></h2>
    <h2><a background-color="hobbies" [routerLink]="['/hobbies']">Hobbies</a></h2>
</nav>

