<p>Web Developer by day, Rowing Coach by
    <span class="strike">evening</span>/<span class="strike">night</span>/<span class="strike">morning</span>/every
    spare minute.</p>
<div>
    <section>
        <h2><a [routerLink]="['/about']">About Me</a></h2>
    </section>
    <section>
        <h2><a>Experience</a></h2>
    </section>
    <section>
        <h2><a>Education</a></h2>
    </section>
    <section>
        <h2><a>Skills</a></h2>
    </section>
    <section>
        <h2><a>Hobbies</a></h2>
    </section>
</div>

